*{
    text-align: center;
}

h1{
    padding-top : 150px;
    padding-bottom: 100px;
}

button{
    margin-top: 150px;
}

div {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width : 100vw;
}