<div>
    <h1>Projets en cours :</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Progress</th>
            <th>Modify</th>
        </tr>
        <tr *ngFor="let project of projects">
            <td>{{project.name}}</td>
            <td>{{project.description}}</td>
            <td>{{project.priority}}</td>
            <td><progress min="0" max="100" value="{{project.progress}}"></progress></td>
            <td><button mat-button (click)="modifyProject(project)">=></button></td>
        </tr>
    </table>
    <button mat-raised-button color="primary" (click)="create()">nouveau projet</button>
</div>