table, td, th{
    border: 1px solid;
    border-collapse: collapse;
}

table{
    width : 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;

}

textarea{
    width : 500px;
    height: 200px;
}

h1{
    padding-top : 5%;
}

div {
    text-align: center;
    height: 100vh;
    width : 100vw;
}