textarea{
    width : 500px;
    height: 200px;
}

.infos{
    padding : 20px;
}

button{
    margin-right : 30px;
    margin-left: 30px;
    width : 100px;
}

input{
    width : 100px;
}

#content {
    padding-top : 50px;
    justify-content: center;
    align-items: center;
}

